<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    
    <key>signingStyle</key>
    <string>manual</string>

    <key>teamID</key>
    <string>365WJYN4LU</string> <!-- Ini team ID dari Rival Fauzi -->

    <key>provisioningProfiles</key>
<dict>
    <key>com.appledeveloperacademy.www.Match-Matrix</key>
    <string>MatchMatrix Dev Provisioning</string>
</dict>


    <key>signingCertificate</key>
    <string>Apple Distribution</string>

    <key>compileBitcode</key>
    <false/>

    <key>stripSwiftSymbols</key>
    <true/>
</dict>
</plist>
