<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
    <key>method</key>
    <string>development</string> <!-- Ganti ke 'development' jika hanya testing di device -->
    <key>signingStyle</key>
    <string>manual</string>
    <key>teamID</key>
    <string>SZ63C65QXD</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.appledeveloperacademy.www.Match-Matrix</key>
        <string>e8ea49a0-82ff-41ea-b23b-7f72139c9ca4</string> <!-- UUID dari provisioning profile -->
    </dict>
    <key>signingCertificate</key>
    <string>Apple Development: Rival Fauzi (SZ63C65QXD)</string> <!-- Sesuai cert -->
    <key>compileBitcode</key>
    <false/>
    <key>stripSwiftSymbols</key>
    <true/>
</dict>
</plist>
